body{
   background-color:#AED6F1
}
hr{
    background-color:black
}
h1{
    color: darkblue;font-style: italic
}
h2{
    color: darkblue;font-style: italic
}
h3{
    color: darkblue;font-style: italic
}
th{
    color:#11025E
}
